useDynLib("arrayfire")

export("afInfo")
export("afArray")
export("afPrint")
export("afRunif")
export("afRnorm")
export("afConsts")
export("afHost")
export("afEval")
export("afSync")

exportClasses("afArray")
exportMethods("Cplx")
exportMethods("hypot")
exportMethods("erf")
exportMethods("erfc")

exportMethods("dimSum")
exportMethods("dimMin")
exportMethods("dimMax")
exportMethods("dimAny")
exportMethods("dimAll")

exportMethods("mean")
exportMethods("median")
exportMethods("sd")
exportMethods("cov")
exportMethods("var")

exportMethods("matmul")
exportMethods("matmul_nt")
exportMethods("matmul_tt")
exportMethods("matmul_tn")
exportMethods("matmul_nct")
exportMethods("matmul_ctct")
exportMethods("matmul_ctn")
exportMethods("dot")
exportMethods("dot_nc")
exportMethods("dot_cc")
exportMethods("dot_cn")
exportMethods("t")

exportMethods("dimMean")
exportMethods("dimMedian")
exportMethods("dimSd")
exportMethods("dimVar")
