useDynLib("arrayfire")

export("afInfo")
export("afArray")
export("afPrint")
export("afRunif")
export("afRnorm")
export("afConsts")
export("afHost")

exportClasses("afArray")
exportMethods("Cplx")
exportMethods("hypot")
exportMethods("atan2")
exportMethods("erf")
exportMethods("erfc")
exportMethods("erfinv")
exportMethods("gammaln")

exportMethods("mean")

exportMethods("dimSum")
exportMethods("dimMin")
exportMethods("dimMax")
exportMethods("dimMean")
exportMethods("dimAny")
exportMethods("dimAll")
exportMethods("dimMedian")
exportMethods("dimSd")
