useDynLib("arrayfire")

export("afInfo")
export("afArray")
export("afPrint")
export("afRunif")
export("afRnorm")
export("afConsts")
export("afHost")
export("afEval")
export("afSync")

exportClasses("afArray")
exportMethods("Cplx")
exportMethods("hypot")
exportMethods("erf")
exportMethods("erfc")
exportMethods("erfinv")
exportMethods("gammaln")

exportMethods("mean")
exportMethods("median")
exportMethods("sd")

exportMethods("dimSum")
exportMethods("dimMin")
exportMethods("dimMax")
exportMethods("dimMean")
exportMethods("dimAny")
exportMethods("dimAll")
exportMethods("dimMedian")

exportMethods("cov")
exportMethods("var")

exportMethods("afKNN1")
